*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.container {
  position: relative;
  min-height: 100vh;
  min-width: 100vw;
  background-color: rgba(161, 157, 157, 0.5);
  overflow: hidden;
  overflow-wrap: normal;
}
.side {
  box-shadow: 0 -1px 15px 2px rgb(0 0 0 / 0.7);
}
.input-area {
  width: 100vw;
  min-height: 20vh;
  transform: translate(-97px, -40px);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-left: 90px;
  margin-bottom: 5rem;
  background-color: rgb(161, 157, 157);
}
.submenu ul {
  position: fixed;
  top: 0;
  right: 0;
  color: rgb(255, 255, 255);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  z-index: 10;
  width: 170px;
  height: 55rem;
  padding-top: 0.4rem;
  border-left: 1px solid #ccc;
  transform: translate(-59.47rem, 0.01rem);
  background-color: rgb(34, 34, 34);
  overflow-y: auto;
  scrollbar-width: none;
}
.submenu ul button {
  padding-left: 0.6rem;
  margin-bottom: 3rem;
  border-bottom: 1px solid rgb(255, 255, 255);
  font-weight: 300;
}
main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: auto;
  overflow-x: auto;
}
/* .input-url{
  transform:translateX(-70px);
} */

.content {
  padding: 10rem;
  scroll-behavior: smooth;
  overflow-x: auto;
  overflow-y: auto;
  max-height: max-content;
  max-width: max-content;
}  